// CARDS BOOTSTRAP //

.card {
    border: none;
}

.card h3 {
    color: plum;
    text-transform: lowercase;
    text-align: center;
    font-size: 2rem;
}

.card-body p {
    color: grey;
    font-size: 1rem;
    text-align: center;
}