// CARDS BOOTSTRAP //

.card {
    border: 1 px solid $color-gris;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    filter: grayscale(5%);
}

.card:hover {
   filter: grayscale(90%);
}

.card-group {
    gap: 30px;
}

.card h3 {
    color: $color-rosa;
    text-transform: lowercase;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.card-body p {
    color: $color-gris;
    font-size: 1rem;
    text-align: center;
}
