//HEADER//

.tamLogo {
  width: 200px;
  margin-left: 50px;
}

.encabezado {
  background-color: black;
}

.fuenteNav {
  @include anclas;

  a:hover {
    color: $color-rosa;
  }
}

.navColor {
  color: $color-blanco;
}

.instagram {
  background-color: $color-rosa;
  padding: 9px 25px;
  border-radius: 50px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
  color: $color-blanco;

  &:hover {
    color: bisque;
    background-color: black;
  }
}