.carousel-inner {
    h2 {
        font-style: italic;
    }

    p {
        font-size: 2rem;
    }
}

.contenedorTitulo {
    font-size: 0.5rem;
    color: plum;
    padding: 15px 35px;
    text-align: center;
    font-style: italic;
}

.contenedorParrafo p {
    text-align: center;
    background-color: plum;
    color: white;
    padding: 15px 35px;
}
