.contenedorPresentacion {
    padding: 15px 35px;

    h2 {
        font-size: 2rem;
        text-align: center;
        color: $color-rosa;
        font-style: italic;
    }

    p {
        font-size: 1rem;
        text-align: center;
        color: $color-rosa;
        font-style: italic;
    }
}

.contenedorParrafo {
    background-color: $color-rosa;
    padding: 15px 35px;
}

.parrafo {
    color: $color-blanco;
    font-size: 1rem;
    text-align: center;
}

.footerQuiensoy {
    margin-top: 50px;
}