.serviciosTitulo {
    background-color: $color-rosa;
    padding: 15px 35px;

    p {
        text-align: center;
        font-size: 2rem;
        font-style: italic;
        color: $color-blanco;
    }
}